@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Poppins';
}

 html {
    scroll-behavior: smooth;
}

body {
    background: #efeeb4;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    color: #454d66;
    background: #efeeb4;
    
    width: 100%;
}

nav .logo {
    height: 100%;
    background: linear-gradient(93.51deg, #454d66 2.84%, #454d66 99.18%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    padding: 0 20px;
}

nav .list {
    display: flex;
    padding: 0px 20px;
}

nav .list .link {
    padding: 0px 20px;
    font-weight: 500;
    transition: 0.2s;
    text-decoration: none;
    color: inherit;
}

nav .list .link:hover {
    color: #58b368;
}

nav .list .active {
    color: #58b368;
}

nav .buttons {
    padding: 0px 20px;
}

nav .buttons a {
    padding: 6px 22px;
    width: 120px;
    height: 35px;
    border: 2px solid #454d66;
    border-radius: 5px;
    background: transparent;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    margin: 0px 5px;
}

.middle {
    width: 100%;
    height: 100%;
    padding-top: 0px;
}

.middle .content {
    display: flex;
    padding: 20px 40px;
    background: #22222200;
    width: 80%;
    height: 500px;
}

.middle .content .right {
    width: 60%;
    height: 100%;
    text-align: left;
}

.middle .content .right h1 {
    font-size: 50px;
    font-weight: 800;
    color: #454d66;
}

.middle .content .left {
    width: 40%;
    height: 100%
}

.middle .content .left img {
    width: 100%;
    height: 100%;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.try {
  animation: 1s ease-out 0s 1 slideInLeft;
  background: #666;
  padding: 40px;
}