@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Poppins';
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f1e8e6;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    margin: -8px;
    color: #361d32;
    background: #f1e8e6;
    position: fixed;
    
    width: 100%;
}

nav .logo {
    height: 100%;
    background: linear-gradient(93.51deg, #361d32 2.84%, #361d32 99.18%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    padding: 0 40px;
}

nav .list {
    display: flex;
    padding: 0px 20px;
}

nav .list .link {
    padding: 0px 20px;
    font-weight: 500;
    transition: 0.2s;
    text-decoration: none;
    color: inherit;
}

nav .list .link:hover {
    color: #f55951;
}

nav .list .active {
    color: #f55951;
}

nav .buttons {
    padding: 0px 20px;
}

nav .buttons a {
    padding: 6px 22px;
    width: 120px;
    height: 35px;
    border: 2px solid #361d32;
    border-radius: 5px;
    background: transparent;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    margin: 0px 5px;
}

.middle {
    width: 100%;
    height: 100%;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle .content {
    padding: 20px 40px;
    background: #22222200;
    width: 80%;
    height: 500px;
}

.middle .one {
    display: flex;
    padding: 20px 40px;
    background: #22222200;
    width: 80%;
    height: 500px;
}

.middle .content .home-divs {
    padding: 0 10px;
    animation: 1s ease-out 0s 1 slideInBottom;
}

@keyframes slideInBottom {
    0%   {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.middle .content .left {
    width: 60%;
    height: 100%;
    text-align: left;
}

.middle .content .left .welcoming {
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle .content .left .welcoming h1 {
    font-size: 50px;
    font-weight: 800;
    color: #361d32;
}

.middle .content .left .explore {
    font-size: 50px;
    font-weight: 800;
    color: #361d32;
    text-align: center;
    margin-top: -100px;
}

.middle .content .left .explore button {
    background: #f55951;
    color: #f1e8e6;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 20px;
    border: 1px solid #f55951;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
}

.middle .content .right .explore button:hover {
    padding: 5px 30px;
}

.middle .content .right {
    width: 40%;
    height: 100%
}

.middle .content .right img {
    width: 100%;
    height: 100%;
}

.rates {
    width: 100%;
    height: 100%;
    background: transparent;
}

.rates .head-title {
    width: 100%;
    height: 45px;
    color:#361D32;
    font-size: 20px;
    padding: 60px 0 30px 0;
}

.rates .companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8px;
    margin: 15px -8px;
    color: #361d32;
    width: 100%;
    background-color:#EDD2CB;
}

.rates .companies .company {
    width: 153px;
    height: auto;
}

.rates .companies .left-corner {
    padding-left: 70px
}

.rates .companies .right-corner {
    padding-right: 70px
}

.rates .comments {
    padding-top: 36px;
    width: 80%;
    height: 310px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rates .comments .person {
    width: calc(80% / 3);
    height: 100%;
    margin: 5px 25px;
    background: #FFFFFF;
    border-radius: 10px;
}

.rates .comments .person .head {
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.rates .comments .person .head img {
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border: 0.5px solid #361D32;
    border-radius: 50%;
}

.rates .comments .person .head h3 {
    margin: 0 20px;
    width: 200px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
}

.rates .comments .person .head h3 .poss {
    color: #7B6D79;
}

.rates .comments .person p {
    margin-top: 20px;
    width: 85%;
    text-align: justify;
    font-size: 12px;
    color: #361D32;
}

.rates .comments .follow {
    margin-top: 17px;
    width: 109.7px;
    height: 28px;
    background: #361D32;
    color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rates .comments .follow h4 {
    font-size: 12px;
    font-weight: 400;
}